<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- 让jsp页面中不对el表达式报错 -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>true</el-ignored>
		</jsp-property-group>
	</jsp-config>
	<!-- 或者在jsp页首加入 <%@ page isELIgnored="false"%> -->

	<listener>
		<listener-class>com.bwf.listener.AppListener</listener-class>
	</listener>
	<context-param>
		<param-name>tel</param-name>
		<param-value>88888888</param-value>
	</context-param>
	<context-param>
		<param-name>author</param-name>
		<param-value>梁广明</param-value>
	</context-param>
	<servlet>
		<servlet-name>initParam</servlet-name>
		<servlet-class>com.bwf.InitParamServlet</servlet-class>
		<init-param>
			<param-name>companyName</param-name>
			<param-value>成都博为峰</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>initParam</servlet-name>
		<url-pattern>/initParam</url-pattern>
	</servlet-mapping>
</web-app>